{% extends "generator/layout.html" %}

{% block content %}

<div class="col-bg-14 p-4">
    <div class="card card body text-dark bg-secondary p-5">
        <h3>About</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus repellendus neque veritatis facere facilis, dicta molestiae, nihil, excepturi dignissimos id magni voluptas architecto dolorem inventore soluta. Provident sapiente reiciendis dolor!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In aspernatur culpa reiciendis sed, molestias odit cumque doloribus nesciunt hic at.</p>
    </div>

{% endblock %}